dash==2.17.1
dash_bootstrap_components==1.6.0
dash_core_components==2.0.0
dash_daq==0.5.0
dash_extensions==0.0.18
dash_html_components==2.0.0
dash_leaflet==1.0.15
dash_loading_spinners==1.0.3
diskcache==5.6.3
docplex==2.27.239
Flask==3.1.0
geopandas==0.14.4
geopy==2.4.1
matplotlib==3.8.4
networkx==3.3
numpy==2.2.1
osmnx==2.0.0
pandana==0.7
pandas==1.5.1
Pillow==11.0.0
plotly==5.22.0
Requests==2.32.3
scikit_learn==1.6.0
scipy==1.14.1
Shapely==2.0.6
urbanaccess==0.2.2
